@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Viga";
  src: url("/assets/fonts/Viga.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto.ttf");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-primary-50: #e6f0ff;
  --color-primary-100: #cce0ff;
  --color-primary-200: #99c2ff;
  --color-primary-300: #66a3ff;
  --color-primary-400: #3385ff;
  --color-primary-500: #005cdc;
  --color-primary-600: #004bb3;
  --color-primary-700: #003b8a;
  --color-primary-800: #002b61;
  --color-primary-900: #001c3a;
  --color-primary-950: #001024;
}

* {
  @apply box-border m-0 p-0;
}

body {
  @apply font-roboto max-w-[100dvw] overflow-x-hidden;
}

.primary-btn {
  @apply flex items-center justify-center px-6 py-3 text-white font-medium rounded-[50px] shadow-md bg-gradient-to-b from-[#005CDC] to-[#0E4FA9] hover:opacity-90 active:scale-[0.98] transition shrink-0;
}

.secondary-btn {
  @apply flex items-center justify-center px-6 py-3 bg-white hover:bg-gray-50  rounded-[50px] shadow-[0px_8px_24px_0px_rgba(149,157,165,0.20)] hover:opacity-90 active:scale-[0.98] transition text-[#064091] font-medium text-[18px];
}

.text-heading {
  @apply text-[34px] sm:text-[38px] lg:text-[42px] 2xl:text-[48px] font-viga leading-[60px];
}

.text-caption {
  @apply text-[14px] sm:text-[16px] lg:text-[18px] 2xl:text-[20px] font-roboto leading-[24px];
}
